@using Konstnarer.Models.ViewModels
@model DetailPictureAndComments

@{
    ViewData["Title"] = "Konstnärer.se";
    var loginInfo = ViewData["user"] as UserLogin;

}
<div class="text-center">
    <h1 class="display-4 ">@Model.Pictures.PictureName</h1>
</div >
<div class="card">
    <img class="DetailImage card-img-top" src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(Model.Pictures.ImageFile))" />
    <div class="card-body">
        <h5 class="card-title">@Model.Pictures.PictureName</h5>
        <p class="card-text">@Model.Pictures.Description</p>

        <form method="post" asp-controller="Profile" asp-action="Index">
            <button class="btn btn-outline-primary">
                <input type="text" value="@Model.Owner.UserId" name="userId" hidden>
                <p>@Model.Owner.UserName</p>
            </button>
        </form>

       @* <a href="#" class="btn btn-outline-primary">Av: @Model.Owner.UserName</></a>*@
        <p class="text-secondary">Upladdat: @Model.Pictures.UploadDate</p>
    </div>
</div>


<div>
    @if (Model.Pictures.AllowComments == true)
    {
        <div class="CommentSection">
           
            @if (loginInfo == null || loginInfo.IsActive == false)
            {
                <h3>Kommentera</h3>
                <button type="button" class="btn btn-primary">Registera dig</button>
            }
            else
            {
                <div class="border border-success">
                <h3>Ge en kommentar</h3>
                @using (Html.BeginForm("Comment", "Home", FormMethod.Post))
                {
                    <td>@Html.TextBoxFor(m=>m.usersComment, new { @class = "form-control col-md-3",@type = "text" })</td>
                    <input type="text" name="picId" value="@Model.Pictures.Id" hidden>
                    <button type="submit" value="Submit" class="btn btn-success">Skicka kommentar</button>

                }
                </div>
                
            }
            <h5>Kommentarer:</h5>
            @foreach (var item in Model.pictureComments)
            {
                <div class="border border-secondary">
                @foreach(var item2 in Model.Users)
                {
                    if (item2.UserId == item.UserId)
                    {
                            <form method="post" asp-controller="Profile" asp-action="Index">
                                <button class="btn btn-outline-primary">
                                    <input type="text" value="@item2.UserId" name="userId" hidden>
                                    <p>@item2.UserName</p>
                                </button>
                            </form>
                    }
                }
                <div class="kommentar">
                    <p>@item.Comment</p>
                </div>
                </div>
            }
        </div>
       

    }
</div>
