@using Konstnarer.Models.ViewModels;
@model ViewProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginInfo = ViewData["user"] as UserLogin;
}

<h1>@Model.ProfileUser.UserName profil</h1>
<div class="row">
    <div class="column">
        <table>
            <tr>
                <th>Bild Galleri</th>
            </tr>
                @foreach (var picture in Model.UsersPictures.Where(c => c.OwnerId == Model.ProfileUser.UserId))
                {
                    <div class="card d-inline-flex" style="width: 18rem;">
                 <tr>
                    <td>
                        <form method="post" asp-controller="Home" asp-action="Detail">

                            <button class="card-img-top" type="submit" name="picId" value="@picture.Id">
                                <img class="img-thumbnail" src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(picture.ImageFile))" />
                            </button>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </form>
                    </td>
                </tr>
                </div>
                }

        </table>
    </div>
    <div class="column">
        <table>
            <tr>
                <th>Gästbok
                @if (loginInfo.IsActive == true)
                {
                @using (Html.BeginForm("Comment", "Profile", FormMethod.Post))
                {
                    @Html.TextBoxFor(c=>c.usersComment, new { @class = "form-control col-md-3",@type = "text" })
                        <button type="submit" value="Submit" class="btn btn-success">Skicka kommentar</button>
                    <input type="text" name="commentTo" value="@Model.ProfileUser.UserId" hidden>
                            <input type="text" name="CommentingUserId" value="@loginInfo.UserId" hidden>

                        }
                    }
                    else
                    {
                    <a asp-controller="Register" asp-action="Index">
                        <button type="button" class="btn btn-primary">Registera eller logga in för att ge en kommentar</button>
                    </a>
                    }
                </th>
            </tr>
            @foreach (var comment in Model.comments.Where(c => c.PersonId == Model.ProfileUser.UserId))
            {
                <tr>
                    <td>
                    <div class="card d-inline-flex" style="width: 18rem;">
                        <div class="card-body">
                                @foreach (var user in Model.users)
                                {
                                @if (user.UserId == comment.UserId)
                                    {
                                    <form method="post" asp-controller="Profile" asp-action="Index">
                                        <button class="text-primary">
                                            <input type="text" value="@user.UserId" name="userId" hidden>
                                        <p>@user.UserName</p>
                                        </button>
                                     </form>
                                    }
                                }
                            <p class="card-text">@comment.Comment</p>
                        </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


