@using Konstnarer.Models.ViewModels;
@model ViewProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginInfo = ViewData["user"] as UserLogin;
}

<h1>@loginInfo.UserName profil</h1>
<div class="row">
    <div class="column">
        <table>
            <tr>
                <th>Bild Galleri</th>
            </tr>
                @foreach (var picture in Model.UsersPictures.Where(c => c.OwnerId == Model.ProfileUser.UserId))
                {
                 <tr>
                    <td>
                        <form method="post" asp-controller="Home" asp-action="Detail">

                            <button class="card-img-top" type="submit" name="picId" value="@picture.Id">
                                <img class="img-thumbnail" src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(picture.ImageFile))" />
                            </button>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </form>
                    </td>
                </tr>
                }

        </table>
    </div>
    <div class="column">
        <table>
            <tr>
                <th>Gästbok</th>
                @using (Html.BeginForm("Comment", "Profile", FormMethod.Post))
                {
                    <td>@Html.TextBoxFor(c=>c.usersComment, new { @class = "form-control col-md-3",@type = "text" })</td>
                    <input type="text" name="commentTo" value="@Model.ProfileUser.UserId" hidden>
                    <input type="text" name="CommentingUserId" value="@loginInfo.UserId" hidden>
                    <button type="submit" value="Submit" class="btn btn-success">Skicka kommentar</button>

                }
            </tr>
            @foreach (var comment in Model.comments.Where(c => c.PersonId == Model.ProfileUser.UserId))
            {
                <tr>
                    <td>
                      
                        <div class="card-body">
                            <p class="card-text">@comment.Comment</p>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


